
body {/*esto es para todo el documento*/
	background-color: black; 
	color: lightgray;

}
/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { 
	border: 3px rgb(112, 3, 255); 
	width: 250px;
	text-align: center;
	background-color:rgb(155, 5, 5); 
	background-color: indigo;
	
	margin: auto;
}
.calculadora input.largo{
	width: 60px;
}
/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { width: 185px;
	border: 2px black solid;
	text-align: right; 
	position: relative;
	left: 23px;
	padding: 0px 5px;
	background-color: white;
	font-family: "courier new"; 
	overflow: hidden;}


.pantalla {
	padding: 20px 20px 35px 2px;
	
	border: solid, #9b0e0e;
}

.numeros {
	padding: 10px 10px 10px 22px;
	display: block;
	text-align: justify;
	transition: all 0.09s
	
	
}
/* Este es el estilo al poner el cursor encima del boton*/
.numeros:hover{
	color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none
}
.n{
	background-color: black;
	color: white;
	transition: all 0.09s
}

.n:hover{
	color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
}

.operacion button {
	display: block;
	width: 70px;
	height: 70px;
	padding: 2px 2px;
	background-color: #000;
	color: rgb(133, 132, 182);
	padding: 2px 2px 2px 2px;
	transition: all 0.09s
	
}


button {
	
	margin: 2px 0px;
	padding: 15px 24px;
	font-size: 18px;
}
.resultado {
	display: block;
	
	text-align: center;
}
.teclas {
	display: flex;
}


.parte2{
	background-color: black;

}


